.home {
    background-image: url(../files/Untitled.png);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: $font;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }

  .home p {
    font-size: 52px;
    font-weight: 500;
    font-family: Georgia;
  }